html
	head
		link(rel="stylesheet", href=url_for('static', path='css/bootstrap.css'))
		link(rel="stylesheet", href=url_for('static', path='css/bootstrap.min.css'))
		link(rel="stylesheet", href=url_for('static', path='css/bootstrap.css.map'))
		link(rel="stylesheet", href=url_for('static', path='css/index.css'))
		link(rel="stylesheet", href=url_for('static', path='css/dashboard.css'))
		script(src=url_for('static', path='js/jquery-2.1.4.min.js'))
		script(src=url_for('static', path='js/bootstrap.min.js'))
		script(src=url_for('static', path='js/dashboard.js'))

		for path in module_css
			link(rel="stylesheet", href=url_for('static', path=path))

		for path in module_js
			script(src=url_for("static", path=path))

	body
		div.container-fluid
			= main | safe
